* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
body{
    background-color: #232325;
}
.container {
    background-color: #141f28;
    width: 10em;
    height: 15em;
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%);
    margin-top: 5%;
    border-radius: 2em;
    box-shadow: 5px 5px 5px rgb(96, 103, 105);
}

.visor-container {
    display: flex;
    top: 1.2em;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 10em;
    justify-content: center;
}

.visor {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#screen-numbers {
    width: 80%;
    height: 2em;
    border-radius: .7em;
    background-color: rgb(72, 72, 72);
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    color: white;
}


.keyboard {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
    padding: 1em;
}

.keyboard ul {
    display: flex;
    position: relative;
    height: 10em;
    flex-wrap: wrap;

}

li {
    text-align: center;
    color: white;
    width: 2em;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

li>button {
    cursor: pointer;
    color: black;
    background-color: rgb(196, 197, 199);
    padding: 7px;
    width: 90%;
    border-radius: 50%;
}
li>button:hover {
   box-shadow: 2px 2px 2px rgb(50,50,50);
}
li>button:active {
    transform: scale(.8);
}

#clean {
    background-color: red;
    color: white;
}

.equal {
    position: relative;
    align-items: baseline;
}

.equal button {
    position: relative;
    width: 90%;
    height: 190%;
    background-color: #ff7f02;
    color: white;
    border-radius: 15%;
    top: 5%;
}